# Environment variables (credenciales y claves secretas)
.env
.env.local
.env.production

# Docker volumes and local data (para no subir la base de datos real a Git)
postgres_data/
redis_data/
*.db
*.sqlite

# IDEs y Editores de código
.vscode/
.idea/
*.swp
*.swo

# Sistema Operativo (Windows / Mac)
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Logs
*.log
logs/